<nav class="nav-main" role="navigation">
	<ul class="nav-items">
	{% for item in menu.get_items %}
		<li class="nav-item {{item.classes | join(' ')}}">
			<a class="nav-item-link" href="{{item.link}}">{{item.title}}</a>
			{% if item.get_children %}
				<ul class="nav nav-drop">
				{% for child in item.get_children %}
					<li class="nav-drop-item nav-item-depth-2 {{child.classes | join(' ')}}">
						<a class="nav-item-link" href="{{child.get_link}}">{{child.title}}</a>
						{% if child.get_children %}
							<ul class="nav nav-drop nav-drop-depth-2">
							{% for grandchild in child.get_children %}
								<li class="nav-drop-item nav-item-depth-3 {{grandchild.classes | join(' ')}}">
									<a class="nav-item-link" href="{{grandchild.get_link}}">{{grandchild.title}}</a>
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav><!-- /.nav-main -->
